html {
    font-size:18px;
    height:100%;
}
@media only screen and (max-width: 480px) {
    html {
        font-size: 16px;
    }
}

#root, .root-child {
    height:100%;
}

body {
    font-family:"Gochi Hand","Roboto",sans-serif;
    margin: 0;
    height:100%;
}

.root-child > ul {
    text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
}

.root-child > ul button {
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}

.root-child > ul button:hover {
    text-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.news a {
    color:blue;
    text-decoration:none;
    transition: all 0.2s ease-in-out;
}
.news a:hover {
    color:#22751c;
}

.book a {
    text-shadow: 2px 2px 0px rgb(0 0 0 / 20%);
}
.book a:hover {
    color:#c70600;
}
.book img {
    border-radius: 5px;
    border: 3px solid #000;
}

.sidebar {
    box-shadow: 1px 0 10px 0px #000000;
}
.sidebarActive {
    color:#2155de;
}

.contactRow {
    line-height:2rem;
}

.contactRow a {
    color:blue;
    text-decoration:none;
    transition: all 0.2s ease-in-out;
}
.contactRow a:hover {
    color:#22751c;
}